#wheeldiv{
    height: 50vh;
    width: 50vh;
    /* overflow: hidden;
    position: relative; */
}
.bhdLno{
    width: 100% !important;
    height: 100% !important;
}
.rotate-36deg{
    transform: rotate(36deg);
}
.hmocIu {
    transform: rotate(47deg);
}
.navItem:hover{
    color:rgba(231, 12, 12, 0.938) !important;
    text-decoration: underline;

}
body{
    color: #ffffff !important;
    background: #000 !important;
}
